body {
  font-family: "Oswald", sans-serif;
  color: #202e4c;
}
h1 {
  font-family: "Bebas Neue", cursive;
}
h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
}

h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
}
.list-store li a:hover .circle-nav-header {
  stroke: #202e4c;
}
#search {
  background: none;
}
.single-post img,
.box img {
  margin: 0 auto !important;
}
.fp-slidesNav.fp-bottom {
  bottom: 14%;
}
.fp-slidesNav ul li a span {
  background: #ffffff;
}
.text-intro {
}
.fp-slidesNav ul li a.active span {
  background: #77bffa;
}
.footer-contact {
  width: fit-content;
}
.btn-menu img {
  width: 26px;
}
.logo-content img {
  width: 140px;
}
footer .logo-content img {
  width: 140px;
}
.store-nav img {
  width: 43px;
}
.logo-nav-content img {
  width: 140px;
}
.bg-blue-kranec {
  background-color: rgba(32, 46, 76, 0.97);
}
.bg-blue-kranec-50 {
  background-color: rgba(32, 46, 76, 0.5);
}

.i-social {
  width: 32px;
  height: 32px !important;
}
.btn-dropdown {
  bottom: 3%;
  z-index: 99;
}
.btn-dropdown-post {
  bottom: 11%;
  z-index: 999;
}
.v-p-w h2 {
  font-family: "Oswald", sans-serif;
  margin-bottom: 12px;
}
.v-p-w p {
  padding-bottom: 28px;
  margin-bottom: 40px;
  font-weight: 100;
  background: url("img/v-separator.jpg") no-repeat center bottom;
}
.separator-cat {
  background-image: url("img/v-separator.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}
.btn-whatsapp {
  bottom: 7%;
}
.btn-whatsapp a {
  bottom: 0;
}
.w-k-394 {
  width: 394px;
}
.new-row {
  grid-column-start: 2;
}
.header-blog h1 {
  top: 40%;
}
.cat-item.active {
  background-color: #205497;
  color: #ffffff;
}
.cat-item:hover span,
.cat-item.active span {
  color: #77bffa;
}
.menu-item-has-children a:first-child {
  background-image: url("img/plus_less.png");
  background-position: right top;
  background-repeat: no-repeat;
  padding: 0 50px 0 0;
}
a[title="abrir"] {
  display: block;
}
.menu-item-has-children a.active {
  background-position: right -26px;
}
.menu-item-has-children .sub-menu li a {
  background: none !important;
}
.menu-item-has-children .sub-menu {
  display: none;
}
.menu-item-has-children .sub-menu.show {
  display: block;
}
.sub-menu {
  padding: 0 0 0 2rem;
}
.separator-h-c-200 {
  background: url("img/h-separador-02.jpg") no-repeat center bottom;
}
.separator-anima::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #77bffa;
  transition: width 0.3s;
}
.separator-anima:hover::after {
  width: 100%;
}
.pilares p {
  font-weight: 300;
  background: url("img/h-separador-02.jpg") no-repeat left top;
  margin-top: 5px;
  padding: 10px 0 0;
}
.pilares img {
  margin: 0 auto;
}
.btn-dropdown-post-2 {
  bottom: 4%;
}
.contacto h4 {
  font-size: 24px;
  border-bottom: 2px solid #77bffa;
  width: fit-content;
  margin: 0 auto 1rem;
}
.contacto p,
.contacto a {
  font-weight: 300;
  font-size: 20px;
}
.contacto .k-ubication {
  background: url("img/markmap.jpg") no-repeat center top;
  padding: 51px 0 0;
}
.contacto .k-phone,
.contacto .k-mail {
  padding: 65px 0 0;
}
.contacto .k-phone {
  background: url("img/phone.jpg") no-repeat center top;
}
.contacto .k-mail {
  background: url("img/email.jpg") no-repeat center top;
}
.ec .ec__nav {
  top: 50%;
  border-color: #77bffa;
  width: 23px;
  height: 23px;
  border-top-width: 4px;
  border-right-width: 4px;
  border-radius: 2px 2px 2px 0;
}
.k-align-line {
  top: 33%;
}
.k-align-round {
  top: 28%;
}
.separator-v {
  background: url("img/v-separator.png") no-repeat center;
}
.content-project-block ul li::before {
  content: "\2022";
  color: #77bffa;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.search-image {
  background: url("img/vertical-search-item.jpg") no-repeat right center;
}
.result-item-search:last-child .search-image {
  background: none;
}
.search-image img {
  margin: 0 auto;
  object-fit: scale-down;
  max-width: 238px;
  border-width: 2px;
  border-color: transparent;
  transition: border-color 0.3s;
}
.search-image img.selected {
  border-color: #202e4c;
}
.search-header-post {
  width: fit-content;
}
.hovering img {
  border-color: #202e4c;
}
/*
animación botón +
*/
.closed .vertical {
  transition: all 0.5s ease-in-out;
  transform: rotate(-90deg);
}
.closed .horizontal {
  transition: all 0.5s ease-in-out;
  transform: rotate(-90deg);
  opacity: 1;
}
.opened {
  opacity: 1;
}
.opened .vertical {
  transition: all 0.5s ease-in-out;
  transform: rotate(90deg);
}
.openend .horizontal {
  transition: all 0.5s ease-in-out;
  transform: rotate(90deg);
  opacity: 0;
}
.circle-plus,
.circle {
  width: 18px;
  height: 18px;
}
.circle-plus .circle .horizontal {
  width: 16px;
  height: 2px;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -1px;
}
.circle-plus .circle .vertical {
  height: 16px;
  width: 2px;
  left: 50%;
  margin-left: -1px;
  top: 50%;
  margin-top: -8px;
}

/**/
.content_item_carousell {
  min-height: 470px;
  padding-top: 55px;
}
.title-project {
  background: url("img/h-separador-03.png") no-repeat center bottom;
}
.content-project-block {
  -webkit-animation: slide-down 0.5s ease-out;
  -moz-animation: slide-down 0.5s ease-out;
  -o-animation: slide-down 0.5s ease-out;
  animation: slide-down 0.5s ease-out;
}
@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slide-down {
  0% {
    opacity: 0;
    -moz-transform: translateY(-30%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*
WOOCOMMERCE
*/
.products li {
  text-align: center;
}
.products li a.add_to_cart_button {
  border-radius: 9999px;
  background-color: #77bffa;
  color: #ffffff;
}
.products li:hover a.add_to_cart_button {
  background-color: #202e4c;
}
.products li:hover a img {
  border: 2px solid #202e4c !important;
}
.products li a.add_to_cart_button:hover {
  color: #ffffff;
}
.products li:last-child,
.products li.last {
  background: none !important;
}
.products li {
  padding: 0 2rem !important;
  background: url("img/vertical-search-item.jpg") no-repeat right center;
  margin-right: 0 !important;
}
.woocommerce ul.products li.product .onsale {
  top: 24px;
  background-color: #202e4c;
}
.title-prod {
  background: url("img/h_separator_prod.jpg") no-repeat bottom center;
}
.product-desc a {
  padding: 0 2rem;
}
.product-desc ul {
  padding: 0 2.5rem;
  border-bottom: 1px solid #77bffa;
}
a.added_to_cart {
  display: block !important;
  text-align: center;
}
.woocommerce a.remove:hover {
  background: none !important;
}
.woocommerce-billing-fields input[type="text"],
.woocommerce-shipping-fields input[type="text"],
.woocommerce-hours-fields input {
  border: 1px solid #77bffa;
  border-radius: 9999px;
  text-align: center;
  padding: 0.75rem 0;
}
.woocommerce-additional-fields textarea {
  border: 1px solid #77bffa;
  border-radius: 0.5rem;
  text-align: center;
  height: 112px !important;
}
.woocommerce-billing-fields .form-row,
.woocommerce-shipping-fields .form-row {
  padding-bottom: 1rem !important;
}
.woocommerce-hours-fields label {
  text-align: center;
}
.woocommerce-hours-fields label span {
  display: none;
}
.woocommerce-checkout #payment {
  background-color: #ffffff;
}
.shipping_address {
  overflow: inherit !important;
  height: auto !important;
}
/*--------*/
@media screen and (max-width: 640px) {
  .circle-nav-header {
    stroke: #202e4c;
  }
}
