body {
  font-family: "Oswald", sans-serif;
  color: #202e4c;
}
h1 {
  font-family: "Bebas Neue", cursive;
}
h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
}
p {
  font-size: 1.875rem;
}
h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
}
#search {
  background: none;
}
.single-post img {
  margin: 0 auto !important;
}
.fp-slidesNav.fp-bottom {
  bottom: 14%;
}
.fp-slidesNav ul li a span {
  background: #ffffff;
}
.fp-slidesNav ul li a.active span {
  background: #77bffa;
}
.footer-contact {
  width: fit-content;
}
.btn-menu img {
  width: 26px;
}
.logo-content img {
  width: 140px;
}
footer .logo-content img {
  width: 140px;
}
.store-nav img {
  width: 43px;
}
.logo-nav-content img {
  width: 140px;
}
.bg-blue-kranec {
  background-color: rgba(32, 46, 76, 0.97);
}
.bg-blue-kranec-50 {
  background-color: rgba(32, 46, 76, 0.5);
}

.i-social {
  width: 32px;
  height: 32px;
}
.btn-dropdown {
  bottom: 3%;
  z-index: 99;
}
.btn-dropdown-post {
  bottom: 11%;
  z-index: 999;
}
.v-p-w h2 {
  font-family: "Oswald", sans-serif;
  margin-bottom: 12px;
}
.v-p-w p {
  padding-bottom: 28px;
  margin-bottom: 40px;
  font-weight: 100;
  background: url("img/v-separator.jpg") no-repeat center bottom;
}
.btn-whatsapp {
  bottom: 7%;
}
.btn-whatsapp a {
  bottom: 0;
}
.w-k-394 {
  width: 394px;
}
.new-row {
  grid-column-start: 2;
}
.header-blog h1 {
  top: 40%;
}
.menu-item-has-children a:first-child {
  background-image: url("img/plus_less.png");
  background-position: right top;
  background-repeat: no-repeat;
  padding: 0 50px 0 0;
}
a[title="abrir"] {
  display: block;
}
.menu-item-has-children a.active {
  background-position: right -26px;
}
.menu-item-has-children .sub-menu li a {
  background: none !important;
}
.menu-item-has-children .sub-menu {
  display: none;
}
.menu-item-has-children .sub-menu.show {
  display: block;
}
.sub-menu {
  padding: 0 0 0 2rem;
}
.separator-h-c-200 {
  background: url("img/h-separador-02.jpg") no-repeat center bottom;
}
.separator-anima::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #77bffa;
  transition: width 0.3s;
}
.separator-anima:hover::after {
  width: 100%;
}
.pilares p {
  font-weight: 300;
  background: url("img/h-separador-02.jpg") no-repeat left top;
  margin-top: 20px;
}
.pilares img {
  margin: 0 auto;
}
.btn-dropdown-post-2 {
  bottom: 4%;
}
.contacto h4 {
  font-size: 24px;
  border-bottom: 2px solid #77bffa;
  width: fit-content;
  margin: 0 auto 1rem;
}
.contacto p,
.contacto a {
  font-weight: 300;
  font-size: 20px;
}
.contacto .k-ubication {
  background: url("img/markmap.jpg") no-repeat center top;
  padding: 51px 0 0;
}
.contacto .k-phone,
.contacto .k-mail {
  padding: 65px 0 0;
}
.contacto .k-phone {
  background: url("img/phone.jpg") no-repeat center top;
}
.contacto .k-mail {
  background: url("img/email.jpg") no-repeat center top;
}
